    <div class="conatiner mx-auto">
        <div class="jumbotron text-center">
            <h2>Welcome to Chicken Tinder! <img src="/stylesheets/ChickenLogo.png" style="height: 200px;"></h2>
            <div class="div">
                <h5>Does your partner never know where they want to eat?</h5>
            </div>
            <div class="div">This app is designed with them in mind!</div>
            <div class="row justify-content-center my-2">
                <div class="col-4"><a href="/login" class="btn btn-success btn-hover" >Login!</a></div>

                <div class="col-4"><a href="/signup" class="btn btn-success btn-hover" >Sign Up!</a></div>
            </div>
            <div class="row">
                <div class="content">
                <img src="/stylesheets/chickenSwipe.png" alt="chickenSwipe">
               <div id="infoText" class="col text-left mx-auto"> You and your partner will swipe through a list of restaurants and submitting the restaurants you like</div>
            </div>
            </div>
            <div class="row text-center">
                <div class="col">Once there is a match between you two, the results will be displayed!
                    Choosing where to eat has never been more easy!!!
                </div>
                <div class="col "><img src="/stylesheets/Chicken2.png" alt="chickenSwipe"></div>
            </div> 
        </div>
    </div>


   