<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       <h3>Welcome! <span class="member-name"></span></h3> <h5>Please fill out this form and you soon will find a match with your partner!</h5> 
      
      <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input Username ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Zip code</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Input Zip code ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Partner ID</label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Input Partner ID ">
  </div>
   <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>
    </div>
  </div>
  </div>

  <script type="text/javascript" src="/js/members.js"></script>